# --- 3x-ui Panel Configuration ---
XUI_URL=http://your-xui-panel-ip:2053
XUI_USERNAME=admin
XUI_PASSWORD=your_secure_password
XUI_API_TOKEN=your_3x_ui_api_token_here
XUI_INBOUND_IDS=1,2
XUI_SUBSCRIPTION_BASE_URL=http://your-xui-panel-ip:2053/sub
XUI_FLOW =xtls-rprx-vision

# --- Email Configuration (IMAP & SMTP) ---
IMAP_SERVER=imap.yandex.ru
IMAP_PORT=993
IMAP_USER=your-bot-email@yandex.ru
IMAP_PASSWORD=your-app-password

SMTP_SERVER=smtp.yandex.ru
SMTP_PORT=465
SMTP_USER=your-bot-email@yandex.ru
SMTP_PASSWORD=your-app-password

# --- Bot Configuration ---
SERVICE_NAME="My VPN"
ADMIN_EMAIL=your-personal-email@yandex.ru
CODEWORD=START_VPN
POLL_INTERVAL_SECONDS=15

# --- VPN Client Defaults ---
LIMIT_GB=50
EXPIRE_DAYS=30

# --- Gotify Configuration ---
GOTIFY_URL=https://gotify.example.com
GOTIFY_TOKEN=your_gotify_app_token_here
GOTIFY_PRIORITY=5

# --- App Urls Config ---
HAPP_URL=happ://add
INCY_URL=incy://add
